<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/map.css" />
  </head>
  <body>
    <form method="post" id="directions" action="/directions">
      <input type="text" id="from" />
      <input type="text" id="dest" />
      <button type="submit">Submit</button>
    </form>

    <div id="map"></div>

    <script>
      const locations = <%- JSON.stringify(locations) %>;
    </script>

    <script src="js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ7IBAuMfj-a8ftZVKzz7znGbo8LK2ij8&libraries=places&callback=initMap" async defer></script>
  </body>
</html>
